/* Created by Jacob Brogan */

body {
	background-color: #DDDDFF;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

#gameCanvas {
	border: outset 5px;
}

#controls {
    margin: 0 auto;
    text-align: center;
    width: auto;
    padding-bottom: 32px;
    padding-top: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#moveControls {
    text-align: center;
    padding-left: 32px;
}
button.totesTouchscreenCompatible {
    font-size: 36px;
}

div.linkbar {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    padding: 0;
}

div.linkbar a {
    text-decoration: none;
    font-weight: bold;
}

div.linkbar a:visited {
    color: blue;
}

div.linkbar a:hover {
    color: orangered;
}