/* Created by Jacob Brogan */

body {
	background-color: #DDDDFF;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

#gameCanvas {
	border: outset 5px;
}

button.totesTouchscreenCompatible {
    font-size: 36px;
}