/* Created by Jacob Brogan */

body {
	background-color: #DDDDFF;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

#gameCanvas {
	border: outset 5px;
}

button.totesTouchscreenCompatible {
    font-size: 36px;
}

div.linkbar {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    padding: 0;
}

div.linkbar a {
    text-decoration: none;
    font-weight: bold;
}

div.linkbar a:visited {
    color: blue;
}

div.linkbar a:hover {
    color: orangered;
}