/* Created by Jacob Brogan */

body {
	background-color: #DDDDFF;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

div {
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 12px;
    text-align: center;
}

#gameCanvas {
	border: outset 5px rgb(238, 238, 238);
}

#controls {
    margin: 0 auto;
    text-align: center;
    width: 512px;
    padding-bottom: 32px;
    padding-top: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#controls td {
    width: 50%;
}

#buttonShower {
    font-size: 12px;
}

#moveControls {
    text-align: center;
    padding-left: 32px;
    display: none;
}

button.totesTouchscreenCompatible {
    font-size: 36px;
}

#gameInstructions > table {
    margin: auto;
    border: outset 5px rgb(238, 238, 238);
    border-spacing: 0;
}

#gameInstructions > table tr:nth-of-type(even) {
    background-color: black;
    color: white;
}

#gameInstructions > table tr:nth-of-type(odd) {
    background-color: #BBB;
    color: black;
}

#gameInstructions > table td {
    padding: 2px;
    text-align: left;
}

#gameInstructions > table td:nth-of-type(even) {
    padding-left: 12px;
}

div.linkbar {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    padding: 0;
}

div.linkbar a {
    text-decoration: none;
    font-weight: bold;
}

div.linkbar a:visited {
    color: blue;
}

div.linkbar a:hover {
    color: orangered;
}

#version {
    font-size: 10px;
}